# ---------- DCX ----------
SERVICE_ID=dcx
SERVICE_NAME='decentralized credential exchange'

# ---------- Web5 ----------
# Replace with a comma delimited list of your DWN endpoints
# Defaults to TBD DWN endpoints
DWN_ENDPOINTS=https://dwn.example.com/

# Replace with the password used to lock a prior Web5 Agent / AgentVault
# If left blank, DCX creates and saves a new password to password.key in project root
WEB5_PASSWORD=''

# Replace with the 12-word recovery phrase received from initializing a prior Web5 Agent / AgentVault
# If left blank, DCX creates and saves a new phrase to recovery.key in project root
WEB5_RECOVERY_PHRASE=''
