.vscode
.DS_Store

dist
db-data
node_modules
.pnpm-store

.env.test
.env.development
.env

.ignore
lastRecordId*
did:dht*.json
*cursor.json
*.key
*.key
CUSTOM-MANIFEST.json

coverage/
**/*/tests/compiled/
DATA/
DATASTORE/
__TEST_DATA__/