.vscode
.DS_Store

dist
db-data
node_modules

.env*
.ignore
lastRecordId
did:dht*.json
*cursor.json
*.key
*.key
CUSTOM-MANIFEST.json

**/DATA/*

coverage/
**/*/tests/compiled/
__TEST_DATA__/
DATASTORE/