name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: npx pnpm install --frozen-lockfile
      - run: npx pnpm build:applicant
      - run: npx pnpm build:common
      - run: npx pnpm build:issuer
      - run: npx pnpm test

  # publish:
  #   if: github.ref == refs/heads/main
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Use Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: '20.x'
  #     - run: npm ci
  #     - run: npm publish
  #       env:
  #         NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
